<%= render partial: 'shared/google_plus' %>
<%= render partial: 'templates/logout' %>

<script type="text/ng-template" id="login.html">
  <%= render partial: 'templates/login' %>
</script>

<script type="text/ng-template" id="albums.html">
  <%= render partial: 'templates/albums' %>
</script>

<script type="text/ng-template" id="photos.html">
  <%= render partial: 'templates/photos' %>
</script>

<div class="row">
  <div class="col-lg-12">
    <div class="welcome-heading">
      <h1>Google Album Browser</h1>
    </div>
  </div>
</div>
